* {
    font-family: 'Play', sans-serif;
    background-color: #232323;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
  }

/* Clock Styles */

.white-text {
    color: #fff;
}

.text-align-center {
    text-align: center;
}

.h1-text, .h2-text n{
    font-weight: 700;
}

.h1-text {
    font-size: 5rem;
}

.h2-text {
    font-size: 2rem;
    text-transform: uppercase;
}

.clock-text {
    font-size: 6rem;
    font-weight: 900;
}

/* Button Styles */

#buttons {
    display: flex;
    justify-content: center;
}

.button-img {
    width: 110px;
}

.play-btn {
    font-size: 5rem;
    color: #fff;
}